OpenCC
Pillow
Pyrogram
TgCrypto
ffmpeg-python
youtube-dl
wget

ytthumb


youtube_dl
youtube_search_python
youtube_search
ffmpeg-python
lyricsgenius
aiohttp
ffmpeg
aiofiles
requests
wget
youtube_search
play_scraper
CC
